<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id = "saveMember" parameterType = "member">
        INSERT INTO member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        VALUES (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <select id = "memberLogin" parameterType = "member" resultType = "member">
        SELECT *
        FROM member_table
        WHERE memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <select id = "memberFindAll" resultType = "member">
        SELECT *
        FROM  member_table
    </select>

    <select id = "memberFindById" parameterType = "Long" resultType = "member">
        SELECT *
        FROM member_table
        WHERE id = #{id}
    </select>

    <delete id = "memberDelete" parameterType = "Long">
        DELETE
        FROM member_table
        WHERE id = #{id}
    </delete>

    <select id= "findByMemberEmail" parameterType = "String" resultType = "member">
        SELECT *
        FROM member_table
        WHERE memberEmail = #{loginEmail}
    </select>

    <update id = "memberUpdate" parameterType = "member">
        UPDATE member_table
        SET memberAge = #{memberAge}, memberMobile = #{memberMobile}
        WHERE id = #{id}
    </update>

</mapper>
